.custom-navbar-image {
    width: 4rem;
    height: auto;
}

.navbar-brand h5 p {
    color: red !important;
    font-size: 0.8rem !important;
}

.navbar-brand h5 span {
    color: rgb(2, 82, 2) !important;
    font-size: 1.2rem !important;
}

.custom-navbar {
    --bs-bg-opacity: 0.9;
    backdrop-filter: blur(10px);
}

.active {
    font-weight: 600 !important;
}

.clicked:active {
    color: black !important;
    border-radius: 0.5rem !important;
    background-color: rgb(219, 217, 217) !important;
}

.hover:hover {
    border-radius: 0.5rem !important; 
    outline: 0.05rem solid rgb(219, 217, 217) !important;
}

.custom-active:active {
    outline: none !important;
}

.custom-background-image {
    background-image: url(../images/bg-image.jpg);
}

.dropdown-menu {
    background-color: rgb(245, 245, 245) !important;
}


.dropdown-mobile-font-size {
    font-size: 0.8rem !important;
}

.dropdown-desktop-font-size {
    font-size: 0.8rem !important;
}


.after-navbar-space {
    padding-top: 3.9rem !important;
}

.image-color-white {
  filter: invert(91%);
}

.col-md-4 > .card:hover .image-color-white {
  opacity: 0.5;
  transform: translateY(-0.3rem);
  transition: opacity 1s, transform 1s;
}

#custom-color {
  filter: invert(100%) !important;
}

.col-md-4 > .card.shadow-sm {
    background-color: rgba(2, 82, 2, 0.9) !important;
}

.dashboard-header {
  font-size: 1.16rem !important;
  font-weight: 400 !important;
}

.select-options-font-size {
  font-size: 0.85rem;
}

.feedback {
  color: red !important;
}

.modal {
  --bs-bg-opacity: 0.3;
  backdrop-filter: blur(3px);
}

.form-input-hover:hover {
  outline: 0.01rem solid rgb(216, 216, 216) !important;
}

.search-input-radius {
  border-top-left-radius: 1.5rem !important;
  border-bottom-left-radius: 1.5rem !important;
}

.search-button-radius {
  border-top-right-radius: 1.5rem !important;
  border-bottom-right-radius: 1.5rem !important;
}

.search-input-radius:hover {
  background-color: rgb(241, 241, 241) !important;
}

.search-button-radius:hover {
  background-color: rgb(237, 237, 237) !important;
}
.search-button-radius:active {
  background-color: rgb(205, 205, 205) !important;
}

.modal-header {
  background-color: rgba(2, 82, 2, 0.9) !important;
  color: white !important;
}

.add-user-button {
  background-color: rgba(2, 108, 2, 0.9) !important;
  color: white !important;
  font-size: 0.85rem;
}

.add-user-button:hover {
  background-color: rgba(2, 82, 2, 0.9) !important;
}

.add-user-button:active {
  background-color: rgba(2, 39, 2, 0.9) !important;
}

#printReportButton {
  font-size: 0.85rem rgb(9, 105, 9);
}

