@media print {
    body * {
        visibility: hidden;
    }

    .printable-container, .printable-container * {
        visibility: visible;
    }

    .printable-container {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
    }
}
